<li>
  <a>{{ include.name  }}</a>

  <ul>
  {% for submenu in include.menu %}
    <li>
      <a 
        {% if submenu.url %} 
          href="{{ site.url }}{{ site.baseurl }}{{ submenu.url }}" 
        {% endif %}

        {% if page.url == submenu.url %}
          class="is-active"
        {% endif %}
        >
        {{ submenu.name }}
      </a>

      {% if submenu.submenu %}
        {% include page/menu/sub-menu.html name=submenu.name menu=submenu.submenu %}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</li>